<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Category: <%= @category.name %></title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <h2>Name: </h2><%= @category.name %>
    <h2>Subject: </h2><%= @category.subject %>

    <br>
    <br>
    <br>
    <button><a href="/">Take me Home</a></button>
  </body>
</html>
