<h1>Add a Category</h1>
<button><a href="/">Take me <img src="/images/home.png" alt="Home" /></a></button>
<form action="/categories" method="post">
  <ul>
    <li>
      <label for="name">Name</label>
      <textarea name="name" rows="1" cols="50"></textarea>
    </li>

    <li>
      <label for="subject">Subject</label>
      <textarea name="subject" rows="1" cols="50"></textarea>
    </li>

    <li>
      <input type="submit" value="Add Category &#128515;">
    </li>
  </ul>
</form>
