<h1>Most Recent Terms</h1>

<div class="most_recent">
<% @terms.each do |term| %>
  <a href="/terms/<%= term.id %>"><%= term.name %></a>
  <br>
<% end %>
</div>
<br>

<button><a href="/terms/new">Add a Term</a></button>
<button><a href="/categories/new">Add a Category</a></button>
