<div class="in-line">
  <h1>Terms</h1>
  <button><a href="/">Take me <img src="/images/home.png" alt="Home" /></a></button>
</div>
<br>
<div class="most_recent">
<% @terms.each do |term| %>
  <a href="/terms/<%= term.id %>"><%= term.name %></a>
  <br>
<% end %>
</div>
