body {
  background-image: url("/images/over_grass.jpg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
}

.most_recent {
  margin-left: 2em;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer input {
  background-color: transparent;
}

h1 {
  color: #228B22;
  text-shadow: 2px 2px white;
}

h2 {
  display: inline-block;
}

ul {
  list-style: none;
}

label{
    display:inline-block;
    width:100px;
}

button {
  background-color: Transparent;
  border-radius: 15px;
  border: 2px solid #228B22;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #228B22;
}



/*have a background of a sunrise
and a border of grass on bottom & jungle vines up tree on sides
maybe have animation which pops it up when 1st load*/
