body {
  background-image: url("/images/over_grass.jpg");
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
}

.most_recent {
  margin-left: 2em;
}

.right_nav {
  display: flex;
  align-items: flex-start;
}

header input {
  padding: 0;
  line-height: 22px;
  vertical-align: middle;
}

header input[type=text] {
  background-color: transparent;
  color: white;
  border: none;
}

::-webkit-input-placeholder {
  color: #228B22;
}
:-ms-input-placeholder {
  color: #228B22;
}
::-moz-placeholder {
  color: #228B22;
}
:-moz-placeholder {
  color: #228B22;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer input {
  background-color: transparent;
  border: none;
}

h1 {
  color: #228B22;
  text-shadow: 2px 2px white;
}

h2 {
  display: inline-block;
}

.in-line h1 {
  display: inline-block;
  margin-right: 2em;
}

ul {
  list-style: none;
}

label{
    display:inline-block;
    width:100px;
}

button {
  background-color: #7FFF00;
  border-radius: 15px;
  border: 2px solid #228B22;
}

button a {
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: #228B22;
}



/*have a background of a sunrise
and a border of grass on bottom & jungle vines up tree on sides
maybe have animation which pops it up when 1st load*/
